body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #151b29 ;
    

    
}

button{
 background: none;
 color: aliceblue;
 border-width: 3px;
 border-color: aliceblue;
 border-style: solid;
 border-radius: 30%;
 padding: 2rem;
 font-size: 1rem;
 transition: 0.2s;
   
}
button:hover{
  
    color: rgb(245, 156, 156);
    border-width: 5px;
    border-color: rgb(245, 156, 156);

    font-size: 1.1rem;
    transform: translateY(-0.20rem);
    cursor: pointer;
      
   }
   button:active{
   
    color: rgb(252, 118, 118);
    border-width: 9px;
    border-color: rgb(252, 118, 118);
 
    font-size: 1.2rem;
      
   }
   
