<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>comments</title>
</head>
<body>
    
<h1>comments</h1>

<ul>
    <% for(let c of comments) { %>
        <li><%= c.comment %> <b>- <%= c.username %> </b> 
        <a href="http://localhost:3000/comments/<%= c.id %>">detaild</a></li>
    <% } %>
</ul>
<a href="http://localhost:3000/comments/new">new comment</a>


</body>
</html>