<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show comment</title>
</head>
<body>
    
<h1>show #<%= id %> </h1>

<ul>
    <li><%= comment %> <b>- <%= username %> </b> </li>
</ul>
<a href="http://localhost:3000/comments">home</a>


</body>
</html>