<% layout('layouts/boilerplate') %>
    <h1>Edit</h1>
    <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="post">
        <div>
            <label for="title">Title</label>
            <input type="text" name="campground[title]" id="title" value="<%= campground.title %>">
        </div>
        <div>
            <label for="title">Location</label>
            <input type="text" name="campground[location]" id="location" value="<%= campground.location %>">
        </div>
        <button>Save campground</button>
    </form>
    <footer>
        <a href="/campgrounds/<%= campground._id %>"> Back</a>
    </footer>
    <footer>
        <a href="/campgrounds/"> Home</a>
    </footer>
